<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="metest">
    <test name="ceshicase">
        <classes>
            <class name="com.tester.extend.demo.TestMethoedDemo">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test4"/>
                    <include name="logDeno"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>
        <!--<listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListenerOld"/>-->
        <listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>